.unauthorized {
  animation: yureru-s 2s infinite;
}
  
@keyframes yureru-s {
  0% {
      transform: translate(2px, 0px);
  }
  5% {
      transform: translate(-2px, 0px);
  }
  10% {
      transform: translate(2px, 0px);
  }
  15% {
      transform: translate(-2px, 0px);
  }
  20% {
      transform: translate(2px, 0px);
  }
  25% {
      transform: translate(-2px, 0px);
  }
  30% {
      transform: translate(0px, 0px);
  }
}

.custom-wrapper-success {
  background-color: #3cb371;
  font-size: 20px;
}

#numeric-input-wrapper {
  display: flex;
}

#numeric-input-wrapper .numeric-input {
  display: block;
  border-top: 2px solid #dddddd;
  border-bottom: 2px solid #dddddd;
  width: 255px;
  height: 48px;
  font-size: 29px;
  margin: 28px 48px;
  background-color: rgba(0, 0, 0, 0.06);
}

.numeric-keyboard-actionsheet {
  z-index: 99999;
}
